[VERIFICATION REPORT](./verification_report.pdf)
